@tailwind base;
@tailwind components;
@tailwind utilities;

.zooming_card {
    @apply flex relative items-center w-full h-full overflow-hidden justify-center;
}

.zooming_card_txt {
    @apply text-5xl font-extrabold absolute transition-all duration-500 ease-in-out transform text-amber-900 scale-110;
}

.zooming_card_img {
    @apply w-full h-full opacity-60 absolute bg-cover bg-center transition-all duration-500 ease-in-out transform ;
}

.zooming_card:hover .zooming_card_txt {
    @apply scale-90;
}

.zooming_card:hover .zooming_card_img {
    @apply scale-150;
}

.rbc-header {
    height: 50px; /* Zwiększenie wysokości nagłówków dni */
    line-height: 50px;
    white-space: nowrap;
    overflow: visible; /* Ukrywanie nadmiarowego tekstu */
}

.rbc-allday-cell {
    display: none;
}

.custom-datepicker .MuiOutlinedInput-root {
    border-width: 1px;
}

.custom-datepicker .MuiOutlinedInput-notchedOutline {
    border-width: 1px;
}